.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  font-family: 'peyo';
  font-size: 200%;
}

.leftbox {
  float: left;
  background-color: #222;
  margin-top: 110px;
  margin-left: 100px;
  width: 35%;
  height: 300px;
  opacity: 0.3;
}
#lefttext {
  color: #ffffff;
  font-weight:100;
  font-family: Verdana;

}
.rightbox {
  float: right;
  background-color: #faf5f9;
  width: 45%;
  height: 300px;
  margin-top: 110px;
  margin-right: 100px;
  font-family: Verdana;
  opacity: 0.7;

}
.righttext {
  color: black;
}
.renderedPoem{
  display:block;
  background-color: black;
}

@font-face {
    font-family: 'Peyo'; /*a name to be used later*/
    src: url('./peyo/PeyoRegular.ttf'); /*URL to font*/
}

.App-title {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.App-intro {
  font-size: large;
}
